Hardware :-

Processor    - Intel(R) Core(TM) i5-3320M CPU @ 2.60GHz
Installed RAM	- 15.3 GB (15.3 GB usable)
System type  - x86_64
Pen and touch - No pen or touch input is available for this display
-------------------------------
Operating System :-

Edition        : Ubuntu
Version        : 22.04.5 LTS (Jammy Jellyfish)
Installed on   : --
OS build       : 6.8.0-87-generic
Experience     : Ubuntu Feature Experience Pack (not applicable)
-----------------------
Rust Compiler Version :-

Command :- rustc --version

Output  :- rustc 1.88.0 (6b00bc388 2025-06-23)
---------------------
Rust toolchain :-

Command  :- rustup toolchain list

Output   :-
stable-x86_64-unknown-linux-gnu (active, default)
nightly-x86_64-unknown-linux-gnu
--------------------
IDE Used :-

Visual Studio Code

Version: 1.106.3 (user setup)
